Repository xbmc/repo-scripts, pull requests merged in 2020-06, with the labels that each got.

#1558 [script.module.tvdbsimple] 1.0.6
  script.module.tvdbsimple/LICENSE.txt
  script.module.tvdbsimple/addon.xml
  script.module.tvdbsimple/changelog.txt
  script.module.tvdbsimple/icon.png
  script.module.tvdbsimple/lib/__init__.py
  script.module.tvdbsimple/lib/tvdbsimple/__init__.py
  script.module.tvdbsimple/lib/tvdbsimple/base.py
  script.module.tvdbsimple/lib/tvdbsimple/episode.py
  script.module.tvdbsimple/lib/tvdbsimple/keys.py
  script.module.tvdbsimple/lib/tvdbsimple/languages.py
  script.module.tvdbsimple/lib/tvdbsimple/search.py
  script.module.tvdbsimple/lib/tvdbsimple/series.py
  script.module.tvdbsimple/lib/tvdbsimple/updates.py
  script.module.tvdbsimple/lib/tvdbsimple/user.py
Labels: waiting for main addon to be adjusted

#1569 [script.sublissimo] 0.0.4
  script.sublissimo/addon.xml
  script.sublissimo/resources/lib/play_along_file.py
  script.sublissimo/resources/lib/script.py
  script.sublissimo/resources/lib/sync_by_frame_rate.py
  script.sublissimo/resources/lib/syncwizard.py
Labels: Merge after repo sync

#1583 [weather.ozweather@matrix] 1.2.0
  weather.ozweather/LICENSE.txt
  weather.ozweather/README.md
  weather.ozweather/addon.xml
  weather.ozweather/changelog.txt
  weather.ozweather/default.py
  weather.ozweather/fanart.jpg
  weather.ozweather/icon.png
  weather.ozweather/resources/banner.png
  weather.ozweather/resources/language/resource.language.en_gb/strings.po
  weather.ozweather/resources/lib/abcvideo.py
  weather.ozweather/resources/lib/bom.py
  weather.ozweather/resources/lib/common.py
  weather.ozweather/resources/lib/ozweather.py
  weather.ozweather/resources/lib/weatherzone.py
  weather.ozweather/resources/settings.xml
Labels: Don't Merge
